
  
  /* uncss:ignore */
  #bmr:not(:target) { display: none; }
  /* uncss:ignore */
  #bmr:target { display: block; }

  
  /* uncss:ignore */
  #clojure:not(:target) { display: none; }
  /* uncss:ignore */
  #clojure:target { display: block; }

  
  /* uncss:ignore */
  #code:not(:target) { display: none; }
  /* uncss:ignore */
  #code:target { display: block; }

  
  /* uncss:ignore */
  #featured:not(:target) { display: none; }
  /* uncss:ignore */
  #featured:target { display: block; }

  
  /* uncss:ignore */
  #game:not(:target) { display: none; }
  /* uncss:ignore */
  #game:target { display: block; }

  
  /* uncss:ignore */
  #graphic:not(:target) { display: none; }
  /* uncss:ignore */
  #graphic:target { display: block; }

  
  /* uncss:ignore */
  #hardware:not(:target) { display: none; }
  /* uncss:ignore */
  #hardware:target { display: block; }

  
  /* uncss:ignore */
  #howto:not(:target) { display: none; }
  /* uncss:ignore */
  #howto:target { display: block; }

  
  /* uncss:ignore */
  #interaction:not(:target) { display: none; }
  /* uncss:ignore */
  #interaction:target { display: block; }

  
  /* uncss:ignore */
  #javascript:not(:target) { display: none; }
  /* uncss:ignore */
  #javascript:target { display: block; }

  
  /* uncss:ignore */
  #joke:not(:target) { display: none; }
  /* uncss:ignore */
  #joke:target { display: block; }

  
  /* uncss:ignore */
  #music:not(:target) { display: none; }
  /* uncss:ignore */
  #music:target { display: block; }

  
  /* uncss:ignore */
  #of:not(:target) { display: none; }
  /* uncss:ignore */
  #of:target { display: block; }

  
  /* uncss:ignore */
  #physical:not(:target) { display: none; }
  /* uncss:ignore */
  #physical:target { display: block; }

  
  /* uncss:ignore */
  #print:not(:target) { display: none; }
  /* uncss:ignore */
  #print:target { display: block; }

  
  /* uncss:ignore */
  #ruby:not(:target) { display: none; }
  /* uncss:ignore */
  #ruby:target { display: block; }

  
  /* uncss:ignore */
  #performance:not(:target) { display: none; }
  /* uncss:ignore */
  #performance:target { display: block; }

  
  /* uncss:ignore */
  #three:not(:target) { display: none; }
  /* uncss:ignore */
  #three:target { display: block; }

  
  /* uncss:ignore */
  #video:not(:target) { display: none; }
  /* uncss:ignore */
  #video:target { display: block; }

  
  /* uncss:ignore */
  #website:not(:target) { display: none; }
  /* uncss:ignore */
  #website:target { display: block; }

  
  /* uncss:ignore */
  #writing:not(:target) { display: none; }
  /* uncss:ignore */
  #writing:target { display: block; }


/* uncss:ignore */
#chron:not(:target) { display: none; }
/* uncss:ignore */
#chron:target { display: block; }


