Review the changes in the jujutsu working tree. These changes were made as part
of the '{{.HabitName}}' habit and are described by the commit message below.

Habit Instructions

{{.HabitInstructions}}
