package templates

import (
	"monks.co/apps/posts/model"
)

templ Index(posts *model.Posts) {
	@page("posts") {
		<ul>
			for _, post := range posts.List {
				if !post.IsDraft {
					<li>
						<code>{ post.Slug }</code>
						{ post.Date },
						{ post.Title }
					</li>
				}
			}
		</ul>
	}
}
