package templates

import (
	"monks.co/apps/posts/model"
	"monks.co/pkg/templib"
)

templ Index(posts *model.Posts) {
	@templib.Page("Posts", templib.PageOptions{}) {
		<h1>Posts</h1>
		<ul>
			for _, post := range posts.List {
				if !post.IsDraft {
					<li>
						<a href={ templ.SafeURL(post.Slug) }>
							<em>
								{ post.Date }
							</em>
							{ post.Title }
						</a>
					</li>
				}
			}
		</ul>
	}
}
