package templates

import (
	"monks.co/apps/posts/model"
	"monks.co/pkg/templib"
)

templ Post(post *model.Post) {
	@templib.Page(post.Title, templib.PageOptions{Style: `body { max-width: 8em; }`}) {
		<h1>{ post.Title }</h1>
		{! post }
	}
}
