package templates

import (
	"monks.co/apps/posts/model"
	"monks.co/pkg/templib"
)

templ Post(post *model.Post) {
	@templib.Page(post.Title, templib.PageOptions{}) {
		<h1>{ post.Title }</h1>
		<h2>{ post.Date }</h2>
		{! post }
	}
}
