package templates

import (
	"monks.co/pkg/posts"
	"monks.co/pkg/templib"
)

templ Index(posts *posts.Posts) {
	@templib.Page("Posts", templib.PageOptions{}) {
		<h1>Posts</h1>
		<ul>
			for post := range posts.All() {
				if !post.IsDraft {
					<li>
						<a href={ templ.SafeURL("/posts/" + post.Slug + "/") }>
							<em>
								{ post.Date }
							</em>
							{ post.Title }
						</a>
					</li>
				}
			}
		</ul>
	}
}
