Review the changes in the jujutsu working tree. The diff purports to complete a step
towards our todo and is described by the commit message below.

{{.CommitMessageBlock}}

Review the changes. Here are some questions to think about:
{{template "review_questions"}}

Do not ask for needless refactoring: it's important that new things go in the
right place, but it's also important that our changes stay small and focused.

{{.ReviewInstructions}}

{{.TodoBlock}}
