You are in the IMPLEMENTATION phase, responding to feedback on your previous
change. The todo may take a series of changes to resolve.
{{template "workflow_context"}}
{{.FeedbackBlock}}
{{if .Message}}
Change description from the previous iteration:
{{.CommitMessageBlock}}
{{end}}

Changes are reviewed according to these questions:

{{template "review_questions"}}

When you make changes, write a change description to `./.incrementum-commit-message`.
Update it as necessary. Describe the what _and_ the why.

{{.TodoBlock}}
{{if .SeriesLogBlock}}

{{.SeriesLogBlock}}
{{end}}
