<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ping {{.Slug}}</title>
</head>

<body>
    <a href="/ping">← people</a>

    <h1>{{.Slug}}</h1>
    <ul>
    {{ range .Pings }}
        <li>{{.At}}: {{.Notes}}</li>
    {{ end }}
    </ul>

    <form method="post" action="/ping/commands/update-person">
        <h2>update</h2>
        <input name="slug" type="hidden" value="{{.Slug}}" />

        <input name="is_active" type="checkbox" {{ if .IsActive }}checked{{ end }} />
        <label for="is_active">is active?</label>
        <br />

        <button type="submit">save</button>
    </form>

    <form method="post" action="/ping/commands/ping-person">
        <h2>add ping</h2>
        <input name="slug" type="hidden" value="{{.Slug}}" />
        <textarea name="notes" placeholder="notes"></textarea><br />
        <button type="submit">send</button>
    </form>
</body>
</html>
