<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}places{{ end }}</title>
    <script type="module" src="./index.js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    {{ block "body" . }}
      <div class="flex flex-row">
        {{ block "map" . }}
          <div id="map" class="w-full sm:w-2/3"></div>

          <script src="{{ .GoogleMapsImportURL }}" defer></script>
          <script type="text/javascript">
            window.places = {{.PlacesJSON}};
          </script>
        {{ end }}


        <div id="sidebar" class="h-screen overflow-scroll w-full sm:w-1/3">
          {{ block "sidebar" . }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  </body>
</html>
