<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="{{ .BasePath }}" />
    <title>ping</title>
  </head>
  <body>
    <h1>ping</h1>

    tracking {{ len .People }} people<br />

    <a href="https://beeminder.com/ajm/ping">beeminder</a>

    <form method="post" action="commands/bump/">
      <button type="submit">bump</button>
    </form>

    <ul>
      {{ range .People }}
        <li>
          <!-- prettier-ignore -->
          {{ if not .IsActive }}<em>{{ end }}
          <!-- prettier-ignore -->
          {{ if .IsLongestUnpinged }}<strong>{{ end }}
                    {{ .LastPingAt }}:
          <!-- prettier-ignore -->
          {{ if .IsLongestUnpinged }}</strong>{{ end }}

          <a hx-boost="true" href="person/?slug={{ .Slug }}"
            >{{ .Slug }}</a
          >

          {{- if ne .LastPingNotes "" }}: {{ .LastPingNotes }}{{ end }}
          <!-- prettier-ignore -->
          {{ if not .IsActive }}</em>{{ end }}
        </li>
      {{ end }}
    </ul>

    <form method="post" action="commands/add-person/">
      <h2>add person</h2>
      <input type="text" name="slug" placeholder="name" /><br />
      <textarea name="notes" placeholder="initial ping notes"></textarea><br />
      <button type="submit">add</button>
    </form>
  </body>
</html>
