/* base */
@tailwind base;

/* utilities */
@tailwind utilities;

/* components */
@tailwind components;

#bar-toggle {
  @apply bg-gray-200;
}
#bar-toggle > span {
  @apply translate-x-0;
}
.marker[data-types*="bar"] {
  display: none;
}
.show-bars #bar-toggle {
  @apply bg-indigo-600;
}
.show-bars #bar-toggle > span {
  @apply translate-x-5;
}
.show-bars .marker[data-types*="bar"] {
  display: block;
}

#restaurant-toggle {
  @apply bg-gray-200;
}
#restaurant-toggle > span {
  @apply translate-x-0;
}
.marker[data-types*="restaurant"] {
  display: none;
}
.show-restaurants #restaurant-toggle {
  @apply bg-indigo-600;
}
.show-restaurants #restaurant-toggle > span {
  @apply translate-x-5;
}
.show-restaurants .marker[data-types*="restaurant"] {
  display: block;
}

#cafe-toggle {
  @apply bg-gray-200;
}
#cafe-toggle > span {
  @apply translate-x-0;
}
.marker[data-types*="cafe"] {
  display: none;
}
.show-cafes #cafe-toggle {
  @apply bg-indigo-600;
}
.show-cafes #cafe-toggle > span {
  @apply translate-x-5;
}
.show-cafes .marker[data-types*="cafe"] {
  display: block;
}

#store-toggle {
  @apply bg-gray-200;
}
#store-toggle > span {
  @apply translate-x-0;
}
.marker[data-types*="store"] {
  display: none;
}
.show-stores #store-toggle {
  @apply bg-indigo-600;
}
.show-stores #store-toggle > span {
  @apply translate-x-5;
}
.show-stores .marker[data-types*="store"] {
  display: block;
}

#other-toggle {
  @apply bg-gray-200;
}
#other-toggle > span {
  @apply translate-x-0;
}
.marker:not(
    [data-types*="store"],
    [data-types*="cafe"],
    [data-types*="bar"],
    [data-types*="restaurant"]
  ) {
  display: none;
}
.show-others #other-toggle {
  @apply bg-indigo-600;
}
.show-others #other-toggle > span {
  @apply translate-x-5;
}
.show-others
  .marker:not(
    [data-types*="store"],
    [data-types*="cafe"],
    [data-types*="bar"],
    [data-types*="restaurant"]
  ) {
  display: block;
}
