<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Redirector</h1>
    <section>
      <h1>Create A Redirect</h1>
      <form method="post" action="/go/">
        <label for="key">Key</label> <input name="key" />
        <label for="url">URL</label> <input name="url" type="url" />
        <button>submit</button>
      </form>
    </section>
    <section>
      <h2>Redirects</h2>
      <ul>
        {{ range .Shortlinks }}
          <li>
            <a href="{{ .URL }}">/{{ .Key }}</a> (to {{ .URL }})
            <button
              data-hx-confirm="really delete?"
              data-hx-target="closest li"
              data-hx-swap="outerHTML"
              data-hx-delete="/go/{{ .Key }}"
            >
              delete
            </button>
          </li>
        {{ end }}
      </ul>
    </section>
    <script
      src="https://unpkg.com/htmx.org@1.8.0"
      integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
