package templib

type CardOptions struct {
	Class string
}

templ Card(opts *CardOptions) {
	<div class={ opts.Class + " overflow-hidden rounded-lg bg-white shadow mb-8" }>
		<div class="px-4 py-5 sm:p-6">
			{ children... }
		</div>
	</div>
}
