package main

import (
	"monks.co/apps/youtube/model"
	"monks.co/pkg/templib"
)

templ Index(history []*model.HistoryEntry) {
	@templib.Page("History", templib.PageOptions{}) {
		<ul>
			for _, entry := range history {
				<li>
					if entry.TitleUrl != "" {
						<a href={ templ.SafeURL(entry.TitleUrl) }>
							<em>{ entry.Time }</em>
							{ entry.Title }
						</a>
					} else {
						<em>{ entry.Time }</em>
						{ entry.Title }
					}
				</li>
			}
		</ul>
	}
}
